{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

<div class="content pure-u-1 pure-u-md-3-4" style="padding-left:25rem">
        <h2 class="post-title" style="padding-left:3rem">Admin Login</h2>
        <form class="pure-form" method="POST">{% csrf_token %}
            {{ form.as_p }}
            <div style="padding-left:6rem">
            <button class="pure-button pure-button-primary" type="submit" class="save btn btn-default">Login</button>
            </div>
        </form>

</div>
{% endblock %}