{% extends 'base.html' %}
{% block content %}

<div class="content pure-u-1 pure-u-md-3-4">
<form method="POST" class="pure-form pure-form-aligned">
    {% csrf_token %}
        <h1>提交新的文书</h1>
        <div class="pure-control-group">
        {{form.as_p}}
        </div>
        <!--
        <fieldset>
            <div class="pure-control-group">
                <label for="title">Instrument title</label>
                {{form.title}}
            </div>
            
            <div class="pure-control-group">
                <label for="time">Time</label>
                <input id="time" type="date" name='date'>
                <span class="pure-form-message-inline">裁判日期</span>
            </div>

            <div class="pure-control-group">
                <label for="court">Court</label>
                <input id="court" type="text" name='court' placeholder="法院名">
            </div>
    
            <div class="pure-control-group">
                <label for="case_type">Case type</label>
                <input id="case_type" type="text" name='caseType' placeholder="案件类型">
            </div>

            <div class="pure-control-group">
                    <label for="plaintiff">Plaintiff</label>
                    <input id="plaintiff" type="text" name='plaintiff' placeholder="原告">
            </div>
            
            <div class="pure-control-group">
                    <label for="defendant">Defendant</label>
                    <input id="defendant" type="text" name='defendant' placeholder="被告">
            </div>

            <div class="pure-control-group">
                    <label for="term">Case term</label>
                    <input id="term" type="text" name='term' placeholder="审理程序">
            </div>

            <div class="pure-control-group">
                <label for="paper_type">Paper type</label>
                <input id="paper_type" type="text" name='paper_type' placeholder="文书性质">
            </div>

            <div class="pure-control-group">
            <label for="content">Content</label>
            <textarea id="content" rows="8" cols="80" name='content' placeholder="文书内容"></textarea>
            </div>

            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </fieldset>
        -->
        <button style="float:right" type="submit" class="pure-button pure-button-primary">Submit</button>
    </form>
</div>
{% endblock %}